In [ ]:
import warnings
warnings.filterwarnings("ignore")

# Pandas

- Pandas is an opne source library that was created to help manipulate data in Python.

- You can use `pip install pandas` in your terminal / command prompt to install Pandas.

# Import library

In [ ]:
import pandas as pd

- Cek versi Pandas

In [ ]:
pd.__version__

# Pandas Data Structure

## 1. Series

- Series is a one-dimensional Data Structure in Pandas

- Series can be made from a simple list.

In [ ]:
list_city = ['Jakarta','Surabaya','Bandung','Makasar','Jayapura']

In [ ]:
list_city[0]

In [ ]:
series_city = pd.Series(list_city)
print(series_city)

In [ ]:
type(series_city)

In [ ]:
list_number = [1,3,5,7,9,11]
series_number = pd.Series(list_number)
print(series_number)

In [ ]:
type(series_city)

## 2. DataFrame

- Dataframe is a data structure that represents tabular data (think rows and columns like in Ms. Excel).

- The simplest form of a DataFrame can be made from `dict`.

In [ ]:
data_dict1 = {"PassengerID": 1, "Survived": 0, "Name":"Braund"}
data_dict2 = {"PassengerID": 2, "Survived": 1, "Name":"Cumings"}
data_dict3 = {"PassengerID": 3, "Survived": 1, "Name":"Heikkinen"}
data_dict4 = {"PassengerID": 4, "Survived": 1, "Name":"Futrelle"}
data_dict5 = {"PassengerID": 5, "Survived": 0, "Name":"Allen"}

In [ ]:
pd.DataFrame(data=[data_dict1, data_dict2, data_dict3, data_dict4, data_dict5])

In [ ]:
df = pd.DataFrame(data=[data_dict1, data_dict2, data_dict3,
                        data_dict4, data_dict5])
df

In [ ]:
df

In [ ]:
type(df)

# Importing Files

## 1. CSV

- To read a `csv` file, you only need to use `read_csv(<file location>)`.

- The code below is to read a csv file taken from: https://www.kaggle.com/crawford/80-cereals

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/binggas/public-dataset/main/cereal.csv")

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/binggas/public-dataset/main/cereal.csv")
df.head()

In [ ]:
type(df)

- Some csv file might be separated with `;` character.

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/binggas/public-dataset/main/cereal_v2.csv")

- To handle it, we can use this parameter: `sep=';'`

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/binggas/public-dataset/main/cereal_v2.csv", sep=';')

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/binggas/public-dataset/main/cereal_v2.csv", sep=';')
df.head()

- To export a file from DataFrame back to csv, we can use this function: `to_csv()`

In [ ]:
df.to_csv("./data/file_baru.csv", index=0)

In [ ]:
# pd.read_csv("./data/file_baru.csv")

## 2. Excel

- Excel files can be imported easily with this function: `read_excel()`

- Documentation: [source](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html#pandas.read_excel)

In [ ]:
pd.read_excel("https://raw.githubusercontent.com/binggas/public-dataset/main/cereal_v3.xlsx")

# pd.read_excel("https://raw.githubusercontent.com/binggas/public-dataset/main/cereal_v3.xlsx", skiprows=0)

In [ ]:
df = pd.read_excel("https://raw.githubusercontent.com/binggas/public-dataset/main/cereal_v3.xlsx")
df.head()

In [ ]:
df.columns

- To export to an Excel file, use this function: `to_excel()`

In [ ]:
df.to_excel("./data/file_baru.xlsx", index=0)

In [ ]:
# pd.read_excel("./data/file_baru.xlsx")

## 3. JSON

- JSON is JavaScript Object Notation.

- JSON file type is highly used in the internet to simplify data transfer and reading.

- To import JSON data file, we can use: `read_json()`.

In [ ]:
df = pd.read_json('https://raw.githubusercontent.com/binggas/public-dataset/main/iris.json')
df.head()

- To export to a JSON file, use this function: to_json()

In [ ]:
df.to_json('./data/file_baru.json')

In [ ]:
# pd.read_json('./data/file_baru.json')

# DataFrame Attributes & Methods

- There are several attributes that can be used to a DataFrame:

| Attribute | Function |
| --- | --- |
| `index` | *return* *index* from *DataFrame* |
| `columns` | *return* name of columns from *DataFrame* |
| `axes` | *return* *list* of index of rows and columns from *DataFrame* |
| `dtype` | *return* type of data from *DataFrame* |
| `size` | *return* the total of elements from *DataFrame* |
| `shape` | *return* the number of rows from *DataFrame* |
| `ndim` | *return* dimensions/number of rows from *DataFrame* |
| `values` | *return* all *value* from *DataFrame* |
| `empty` | *return* if *DataFrame* empty or not |
| `T` | *return* *DataFrame* that is *transpose*-ed |

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.size

In [ ]:
df.shape

In [ ]:
df.ndim

In [ ]:
df.head(10)

In [ ]:
df.head(10).T

In [ ]:
df.T

- A few methods that is used in a DataFrame:

| *Method* | Function |
| --- | --- |
| `.describe()` | *return* statistics from *DataFrame* |
| `.sum()` | *return* total sum from all data in the *DataFrame* |
| `.mean()` | *return* average from the *DataFrame* |
| `.median()` | *return* median from the *DataFrame* |
| `.mode()` | *return* modus from the *DataFrame* |
| `.head(n)` | *return* the first n-data from the *DataFrame* |
| `.tail(n)` | *return* the last n-data from the *DataFrame* |

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
df.tail(5)

In [ ]:
df.mode()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.plot(df['sepalLength'], df['sepalWidth'], marker='o', linestyle='')
plt.show()

In [ ]:
sns.scatterplot(data=df, x='sepalLength', y='sepalWidth', hue='species')

In [ ]:
df.dtypes

# DataFrame Basic Operation

- In this case, we want to play with the dataset of the passenger of the Titanic that can be obtained from [Kaggle](https://www.kaggle.com/c/titanic/data?select=train.csv)

In [ ]:
df_titanic = pd.read_csv("https://raw.githubusercontent.com/binggas/public-dataset/main/titanic.csv")
df_titanic.head()

In [ ]:
df_titanic.shape

- To access data by column, use `["column_name"]`

In [ ]:
df_titanic['Age']

In [ ]:
# Call a few columns
df_titanic[["Name", "Age", "Sex"]].head()

- To access rows, use `loc`

In [ ]:
# Access the data in the first row
df_titanic.loc[0]

In [ ]:
# Access the data in the first row with specific columns
df_titanic.loc[0,["Name", "Sex", "Age"]]

In [ ]:
# Or use iloc with specific indices
df_titanic.iloc[0:2,3:6]

In [ ]:
# Access the first 5 data
df_titanic[:5]

In [ ]:
# Access the first 5 datawith specific columns
df_titanic.loc[:5, ["Name", "Sex"]]

In [ ]:
df_titanic[["Name", "Sex"]].head()

- To get specific value and update said value, you can index the correct data and dirately mutate the value.

In [ ]:
df_titanic["Age"][0]

In [ ]:
print(df_titanic["Age"][0])

df_titanic["Age"][0] = 25

print(df_titanic["Age"][0])

In [ ]:
df_titanic.head()

- To add a new column you can use `["New Column"]`.

In [ ]:
import numpy as np

df_titanic["new_col"] = pd.Series(np.random.randn(150))

df_titanic.head()

- To add new rows, you can use
`append()`.

In [ ]:
df_titanic[:3]

In [ ]:
df_titanic.tail()

In [ ]:
# For example, we use df_titanic_addition that is a copy of the first 3 data

df_titanic_addition = df_titanic[:3]

# Then, we add df_titanic_addition to the df_titanic using .append()

df_titanic = df_titanic.append(df_titanic_addition, ignore_index=True)
df_titanic.tail(5)

In [ ]:
df_titanic.head()

- Use `drop(columns=[])` to delete a column.

In [ ]:
df_titanic = df_titanic.drop(columns=["new_col"])
df_titanic.head()

- To delete a row, you can drop it using index.

In [ ]:
df_titanic.tail()

In [ ]:
# We want to delete rows with index: 891, 892, and 893
df_titanic = df_titanic.drop([891, 892, 893])
df_titanic.tail()

# Manipulating Index

- Index can be seen as th address of the value that we want.

In [ ]:
df_titanic.head(5)

In [ ]:
# Setting a column to be an index
df_titanic = df_titanic.set_index('Name')
df_titanic.head()

In [ ]:
df_titanic.loc["Heikkinen, Miss. Laina", ["Age", "Sex"]]

In [ ]:
# Try indexing like before
df_titanic.loc[0]

In [ ]:
# Reverting an index to be a column
df_titanic = df_titanic.reset_index()
df_titanic.head()

- Apabila menambahkan parameter `drop=True` ke dalam reset_index, maka index yang lama tidak menjadi kolom baru, melainkan dihilangkan seutuhnya.

In [ ]:
# Try indexing like before again
df_titanic.loc[0]

# `loc` and `iloc`

- `loc` and `iloc` can be used to index rows or columns.

In [ ]:
df_titanic = pd.read_csv("https://raw.githubusercontent.com/binggas/public-dataset/main/titanic.csv")
df_titanic.head()

In [ ]:
# show data with index = 0
df_titanic.loc[0]

In [ ]:
# show data with index = 1
df_titanic.iloc[1]

In [ ]:
# show data with index = 0 through 7 using loc
df_titanic.loc[0:7]

In [ ]:
# show data with index = 0 through 6 using iloc
df_titanic.iloc[0:7]

In [ ]:
# Index with intervals
df_titanic.loc[0:7:2]

In [ ]:
# Specific index
df_titanic.loc[[0,7,800]]

- `loc` and `iloc` can be used to index columns.

In [ ]:
df_titanic.head()

In [ ]:
df_titanic.shape

In [ ]:
df_titanic.loc[:,'Name']

In [ ]:
df_titanic.iloc[:,3]

- You can also index columns with range.

In [ ]:
df_titanic.loc[450:500, "Name":"Ticket"]

In [ ]:
df_titanic.iloc[:, 3:10:2]

- Indexing can also be done with list.

In [ ]:
df_titanic.loc[:, ["Name", "Age", "Survived"]]

# Indexing with condition

In [ ]:
df_titanic.head()

In [ ]:
df_titanic["Survived"].unique()

In [ ]:
condition = df_titanic['Survived']==1
condition

In [ ]:
df_titanic[condition].head()

In [ ]:
df_titanic[df_titanic["Survived"]==1].head()

In [ ]:
df_titanic[df_titanic['Survived'] == 1].head()

In [ ]:
df_titanic[df_titanic["Survived"] == 1]

- Indexing with condition will result in boolean indexing (`True` or `False` value).

- To access DataFrame with specific condition, us the code below:

In [ ]:
df_titanic[df_titanic["Survived"] == 1].head()

* Comparison operators are often used in Pyhton.

| Operator                                       | Symbol |
|------------------------------------------------|--------|
| smaller than                              | <      |
| bigger than                               | >      |
| smaller than or equal to                   | <=     |
| bigger than or equal to                   | >=     |
| check similarity                                   | ==     |
| check inequality                              | !=     |

In [ ]:
df_titanic[df_titanic["Age"] > 20]

In [ ]:
df_titanic[df_titanic["Age"] >= 20][["Name", "Sex", "Age"]]

- To index more than one condition, use an operator with conditions inside brackets.

| Operator Python | Operator Vektor |
|---|---|
| _or_ | `\|` |
| _and_   | `&` |
| _not_ | `~` |



---



`df_titanic[(first condition) & (second condition)]`

In [ ]:
# Indexing with more than one conditions.

df_titanic[(df_titanic["Survived"] != 0) & (df_titanic["Age"] < 20)]

# Null Data

- You will meet a lot of Null data in teh real world.

- You will have to decide what to do with the null data.

In [ ]:
import seaborn as sns

df = sns.load_dataset('titanic')
df.head()

In [ ]:
# null data
df.isna()

In [ ]:
# Getting the number of null data in each column.
df.isna().sum()

In [ ]:
df[df['embark_town'].isna()]

- If the null data is harmless, we can delete the row

In [ ]:
print(df.shape[0])

df = df.dropna(subset=["embark_town"])

print(df.shape[0])

In [ ]:
df[df['embark_town'].isna()]

In [ ]:
df.isna().sum()

## Impute Data

- If we decide to not get rid of the data, we can use `fillna()` to fill in the missing data.

In [ ]:
df['deck'].value_counts()

In [ ]:
df['deck'] = df['deck'].fillna("C")
df.head()

In [ ]:
df['deck'].value_counts()

- If with condition:

In [ ]:
df.loc[(df['embarked']=='S') & (df['deck'].isna()), 'deck'] = 'B'

In [ ]:
# Option 1

df['deck'] = df[(df['embarked'] == 'S')]['deck'].fillna('C')
df['deck'] = df[(df['embarked'] == 'B')]['deck'].fillna('C')
df['deck'] = df[(df['embarked'] == 'C')]['deck'].fillna('C')

In [ ]:
# Option 2

df.loc[df['embarked']=='S', 'deck'] = 'B'
df.loc[df['embarked']=='C', 'deck'] = 'C'

## Pivot Table

We can pivot a table manually using `groupby()`

In [ ]:
df.groupby('sex')['survived'].mean()

In [ ]:
df.groupby(['sex', 'class', 'deck'])[['survived']].count().sort_values(by=['deck', 'survived'], ascending=[True,False])

- But we can also pivot a table using `pivot_table()`

In [ ]:
df.pivot_table('survived', index='sex', columns=['class','deck'])

- By default, `pivot_table()` uses `mean` to aggragate the data.

- If you want to use other aggregation method, you can use `aggfunc` parameter.

In [ ]:
df.pivot_table('survived', index='sex', columns='class', aggfunc=np.sum)

## Aggregation

- Simple aggregation can be done using `groupby()` followed by `agg` parameter.

In [ ]:
df.groupby("survived")[["age"]].agg(np.max)

In [ ]:
df.groupby("sex")[["survived"]].agg(np.sum)

In [ ]:
df.groupby(["sex"])[["survived", "age"]].agg(np.sum)

- `np.sum` is one aggregation function in `Numpy`. Other functions can also be used:

|_Method_|Note|
|-|-|
|`np.mean()`|Get mean value|
|`np.median()`|Get median value|
|`np.std()`|Get standard deviation value|
|`np.var()`|Get variance value|
|`np.sum()`|Get total value|
|`np.prod()`|Get product value|
|`np.min()`, `np.max()`|Get minimum/maximum value|
|`np.argmin()`, `np.argmax()`|Get _index_ from minimum/maximum value|
|`np.all()`|Check if all values are `True` |
|`np.any()`|Check if any value is `True`|


- Other than `Numpy`, `aggregate` or `agg` parameter can also be used.

|_string_|Note|
|-|-|
|`mean`|Get mean value|
|`median`|Get median value|
|`std`|Get standard deviation value|
|`var`|Get variance value|
|`sum`|Get total value|
|`prod`|Get product value|
|`min`, `max`|Get minimum/maximum value|
|`all`|Check if all values are `True`|
|`any`|Check if any value is `True`|

In [ ]:
df.groupby("survived")[["age"]].agg([np.mean, np.max, np.min, np.std])

In [ ]:
df.groupby("survived").agg({'age':['mean', 'max', 'min'],
                           'fare' : ['median', 'max', 'min']
                           })

In [ ]:
df.groupby("survived").agg({'age':'mean',
                               'fare':'mean'
                           })

In [ ]:
df.groupby(['survived', 'sex']).agg({'age':['mean', 'max', 'min', 'std'],
                               'fare':['median']
                           })

In [ ]:
df.groupby(['survived']).agg({'age':'mean',
                              'fare':'median'
                             })

# End of Notebook